@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-thin';
  src: url('../fonts/roboto-condensed-light.ttf') format('truetype');
}

@font-face {
  font-family: 'merriweather-heavy';
  src: url('../fonts/merriweather-heavy.ttf') format('truetype');
}
